name: Validate Python e2e

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  schedule:
    - cron: 30 3 * * *
  workflow_dispatch:

jobs:
  setup-versions-from-manifest:
    name: Setup ${{ matrix.python }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: [3.9.13, 3.10.11, 3.11.9, 3.12.3, 3.13.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-python ${{ matrix.python }}
        id: setup-python
        uses: ./
        with:
          python-version: ${{ matrix.python }}

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("Python ${{ matrix.python }}" -ne "$pythonVersion"){
            Write-Host "The current version is $pythonVersion; expected version is ${{ matrix.python }}"
            exit 1
          }
          $pythonVersion
        shell: pwsh

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-versions-from-file:
    name: Setup ${{ matrix.python }} ${{ matrix.os }} version file
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: [3.9.13, 3.10.11, 3.11.9, 3.12.3, 3.13.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build-version-file ${{ matrix.python }}
        run: echo ${{ matrix.python }} > .python-version

      - name: setup-python ${{ matrix.python }}
        id: setup-python
        uses: ./
        with:
          python-version-file: .python-version

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("Python ${{ matrix.python }}" -ne "$pythonVersion"){
            Write-Host "The current version is $pythonVersion; expected version is ${{ matrix.python }}"
            exit 1
          }
          $pythonVersion
        shell: pwsh

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-versions-from-file-without-parameter:
    name: Setup ${{ matrix.python }} ${{ matrix.os }} version file without parameter
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: [3.9.13, 3.10.11, 3.11.9, 3.12.3, 3.13.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build-version-file ${{ matrix.python }}
        run: echo ${{ matrix.python }} > .python-version

      - name: setup-python ${{ matrix.python }}
        id: setup-python
        uses: ./

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("Python ${{ matrix.python }}" -ne "$pythonVersion"){
            Write-Host "The current version is $pythonVersion; expected version is ${{ matrix.python }}"
            exit 1
          }
          $pythonVersion
        shell: pwsh

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-versions-from-standard-pyproject-file:
    name: Setup ${{ matrix.python }} ${{ matrix.os }} standard pyproject file
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: [3.9.13, 3.10.11, 3.11.9, '==3.12.3', 3.13.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build-version-file ${{ matrix.python }}
        run: |
          echo '[project]
            requires-python = "${{ matrix.python }}"
          ' > pyproject.toml

      - name: setup-python ${{ matrix.python }}
        id: setup-python
        uses: ./
        with:
          python-version-file: pyproject.toml

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("Python ${{ matrix.python }}".replace("==", "") -ne "$pythonVersion"){
            Write-Host "The current version is $pythonVersion; expected version is ${{ matrix.python }}"
            exit 1
          }
          $pythonVersion
        shell: pwsh

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-versions-from-poetry-pyproject-file:
    name: Setup ${{ matrix.python }} ${{ matrix.os }} poetry pyproject file
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: [3.9.13, 3.10.11, 3.11.9, 3.12.3, 3.13.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build-version-file ${{ matrix.python }}
        run: |
          echo '[tool.poetry.dependencies]
            python = "${{ matrix.python }}"
          ' > pyproject.toml

      - name: setup-python ${{ matrix.python }}
        id: setup-python
        uses: ./
        with:
          python-version-file: pyproject.toml

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("Python ${{ matrix.python }}" -ne "$pythonVersion"){
            Write-Host "The current version is $pythonVersion; expected version is ${{ matrix.python }}"
            exit 1
          }
          $pythonVersion
        shell: pwsh

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-versions-from-tool-versions-file:
    name: Setup ${{ matrix.python }} ${{ matrix.os }} .tool-versions file
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: [pypy3.11-7.3.18, graalpy-24.1.2, 3.13.2, 3.14-dev]
        exclude:
          - os: windows-latest
            python: graalpy-24.1.2
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build-tool-versions-file ${{ matrix.python }}
        run: |
          echo "python ${{ matrix.python }}" > .tool-versions

      - name: setup-python using .tool-versions ${{ matrix.python }}
        id: setup-python-tool-versions
        uses: ./
        with:
          python-version-file: .tool-versions

  setup-pre-release-version-from-manifest:
    name: Setup 3.14.0-alpha.6 ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-python 3.14.0-alpha.6
        id: setup-python
        uses: ./
        with:
          python-version: '3.14.0-alpha.6'

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("Python 3.14.0a6" -ne "$pythonVersion"){
            Write-Host "The current version is $pythonVersion; expected version is 3.14.0a6"
            exit 1
          }
          $pythonVersion
        shell: pwsh

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-dev-version:
    name: Setup 3.14-dev ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            ubuntu-24.04-arm,
            ubuntu-latest,
            macos-13
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-python 3.14-dev
        id: setup-python
        uses: ./
        with:
          python-version: '3.14-dev'

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: ${{ startsWith(steps.setup-python.outputs.python-version, '3.14.') }}
        shell: bash

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-prerelease-version:
    name: Setup 3.14 ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            ubuntu-24.04-arm,
            ubuntu-latest,
            macos-13
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-python 3.14
        id: setup-python
        uses: ./
        with:
          python-version: '3.14'
          allow-prereleases: true

      - name: Check python-path
        run: ./__tests__/check-python-path.sh '${{ steps.setup-python.outputs.python-path }}'
        shell: bash

      - name: Validate version
        run: ${{ startsWith(steps.setup-python.outputs.python-version, '3.14.') }}
        shell: bash

      - name: Run simple code
        run: python -c 'import math; print(math.factorial(5))'

  setup-versions-noenv:
    name: Setup ${{ matrix.python }} ${{ matrix.os }} (noenv)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            macos-13,
            ubuntu-latest,
            ubuntu-24.04-arm
          ]
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup-python ${{ matrix.python }}
        id: setup-python
        uses: ./
        with:
          python-version: ${{ matrix.python }}
          update-environment: false

      - name: Python version
        run: ${{ steps.setup-python.outputs.python-path }} --version

      - name: Run simple code
        run: ${{ steps.setup-python.outputs.python-path }} -c 'import math; print(math.factorial(5))'

  check-latest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            ubuntu-24.04-arm,
            ubuntu-latest,
            macos-13
          ]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python and check latest
        uses: ./
        with:
          python-version: ${{ matrix.python-version }}
          check-latest: true
      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("$pythonVersion" -NotMatch "${{ matrix.python-version }}"){
            Write-Host "The current version is $pythonVersion; expected version is ${{ matrix.python-version }}"
            exit 1
          }
          $pythonVersion
        shell: pwsh

  setup-python-multiple-python-versions:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            macos-latest,
            windows-latest,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            ubuntu-24.04-arm,
            ubuntu-latest,
            macos-13
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python and check latest
        uses: ./
        with:
          python-version: |
            3.9
            3.10
            3.11
            3.12
            3.13
          check-latest: true
      - name: Validate version
        run: |
          $pythonVersion = (python --version)
          if ("$pythonVersion" -NotMatch "3.13"){
            Write-Host "The current version is $pythonVersion; expected version is 3.13"
            exit 1
          }
          $pythonVersion
        shell: pwsh
